<nav role="navigation" class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="{{ _site_url }}">{{ _site_name }}</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
  <ul class="right">
    <li {{ if !segment_1 }}class="active"{{ endif }}>
      <a href="{{ homepage }}">Home</a>
    </li>
    {{ nav from="/" max_depth="1" }}
    <li {{ if is_current }}class="active"{{ endif }}>
      <a href="{{ url }}">{{ title }}</a>
    </li>
    {{ /nav }}
  </ul>
  </section>
</nav>

{{#
====================================
  NOTES
====================================

This is the main nav partial.

It uses the nav tag to render a list of navigation items. For more information on the nav tag see http://statamic.com/learn/documentation/tags/nav.

#}}
